.App-header nav {
  margin-top: 20px;
}

.App-header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.App-header nav a:hover {
  text-decoration: underline;
}
